@font-face {
  font-family: "BiggerDisplay";
  src: url("~/assets/fonts/BiggerDisplay.otf") format("opentype");
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("~/assets/fonts/HelveticaNeue-Black.woff2") format("woff2"),
    url("~/assets/fonts/HelveticaNeue-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("~/assets/fonts/HelveticaNeue-BlackItalic.woff2") format("woff2"),
    url("~/assets/fonts/HelveticaNeue-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("~/assets/fonts/HelveticaNeue-Bold.woff2") format("woff2"),
    url("~/assets/fonts/HelveticaNeue-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("~/assets/fonts/HelveticaNeue-HeavyItalic.woff2") format("woff2"),
    url("~/assets/fonts/HelveticaNeue-HeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("~/assets/fonts/HelveticaNeue-Italic.woff2") format("woff2"),
    url("~/assets/fonts/HelveticaNeue-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("~/assets/fonts/HelveticaNeue-Heavy.woff2") format("woff2"),
    url("~/assets/fonts/HelveticaNeue-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("~/assets/fonts/HelveticaNeue-BoldItalic.woff2") format("woff2"),
    url("~/assets/fonts/HelveticaNeue-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("~/assets/fonts/HelveticaNeue-Roman.woff2") format("woff2"),
    url("~/assets/fonts/HelveticaNeue-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("~/assets/fonts/HelveticaNeue-LightItalic.woff2") format("woff2"),
    url("~/assets/fonts/HelveticaNeue-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("~/assets/fonts/HelveticaNeue-ThinItalic.woff2") format("woff2"),
    url("~/assets/fonts/HelveticaNeue-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("~/assets/fonts/HelveticaNeue-Medium.woff2") format("woff2"),
    url("~/assets/fonts/HelveticaNeue-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("~/assets/fonts/HelveticaNeue-Light.woff2") format("woff2"),
    url("~/assets/fonts/HelveticaNeue-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("~/assets/fonts/HelveticaNeue-MediumItalic.woff2") format("woff2"),
    url("~/assets/fonts/HelveticaNeue-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("~/assets/fonts/HelveticaNeue-UltraLightItalic.woff2")
      format("woff2"),
    url("~/assets/fonts/HelveticaNeue-UltraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("~/assets/fonts/HelveticaNeue-Thin.woff2") format("woff2"),
    url("~/assets/fonts/HelveticaNeue-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("~/assets/fonts/HelveticaNeue-UltraLight.woff2") format("woff2"),
    url("~/assets/fonts/HelveticaNeue-UltraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: "Helvetica Neue", sans-serif;
  --font-title: "BiggerDisplay", "Helvetica Neue", sans-serif;
  --cubic-bezier: cubic-bezier(0.8, 0.12, 0.05, 0.88);
  --color-1: #f0f0f0;
  --color-2: #222a36;
  --color-3: #d53b98;
  --color-4: #fff717;
  --color-5: #23c5c6;
  --color-1-title: rgba(240, 240, 240, 0.75);
  --overlay-dark: #0f1a206f;
  --overlay-light: #fcf8f24d;
}

* {
  scroll-behavior: smooth;
  overflow-x: clip;
}

@layer base {
  body {
    @apply font-sans text-base;
    font-weight: 400;
    background-color: var(--color-1);
    color: var(--color-2);
    scrollbar-width: thin;
    line-height: normal;
    scrollbar-base-color: var(--color-3);
    scrollbar-color: var(--color-4) transparent;
  }
}

.font-bigger {
  font-family: "BiggerDisplay";
  letter-spacing: 0.1rem;
}

.text-style-1 {
  font-size: clamp(1rem, 2vw, 3rem);
}
.text-style-2 {
  font-size: clamp(0.8rem, 1.2vw, 2.5rem);
}
.text-style-3 {
  font-size: clamp(1rem, 1.4vw, 3.2rem);
}
.text-style-4 {
  font-size: clamp(1rem, 2vw, 3.4rem);
}

.text-style-big {
  font-size: clamp(1.9rem, 4.2vw, 5rem);
}
.text-style-big-plus {
  font-size: clamp(3rem, 8vw, 10rem);
}

.text-style-bigger {
  font-size: clamp(4rem, 12vw, 12rem);
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: var(--color-1);
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-3);
  border-radius: 50px;
  border: transparent;
}

.nav-item {
  cursor: pointer;
  @apply text-c-1;
  width: fit-content;
  display: block;
  text-decoration: none;
  transition: all 400ms var(--cubic-bezier);
}

.nav-item::after {
  content: "";
  display: block;
  width: 0%;
  height: clamp(0.1rem, 0.2vh, 0.2rem);
  @apply bg-c-1;
}

.nav-items:hover > .nav-item {
  opacity: 0.3;
}

.nav-items:not(:hover) > .nav-item::after {
  width: 0%;
  transition: width 800ms var(--cubic-bezier);
}

.nav-item:not(:hover) {
  transition: all 800ms ease;
}

.nav-items:hover > .nav-item:hover {
  opacity: 1;
  transition: all 800ms ease;
}

.nav-items:hover > .nav-item:hover::after {
  width: 100%;
  transition: all 800ms var(--cubic-bezier);
}

.nav-items:hover > .nav-item:not(:hover)::after {
  width: 0%;
  transition: all 800ms var(--cubic-bezier);
}

/* ::-moz-selection {
  @apply text-c-1;
  @apply bg-c-4;
}

::selection {
  @apply text-c-1;
  @apply bg-c-4;
} */

.rotate-45 {
  @apply rotate-[45deg];
}

.rotate-90 {
  @apply rotate-[90deg];
}

.rotate-135 {
  @apply rotate-[135deg];
}

.rotate-180 {
  @apply rotate-[180deg];
}

.rotate-225 {
  @apply rotate-[225deg];
}

.rotate-270 {
  @apply rotate-[270deg];
}

.rotate-315 {
  @apply rotate-[315deg];
}

.rotate-360 {
  @apply rotate-[360deg];
}

.-rotate-45 {
  @apply rotate-[-45deg];
}

.-rotate-90 {
  @apply rotate-[-90deg];
}

.-rotate-135 {
  @apply rotate-[-135deg];
}

.-rotate-180 {
  @apply rotate-[-180deg];
}

.-rotate-225 {
  @apply rotate-[-225deg];
}

.-rotate-270 {
  @apply rotate-[-270deg];
}

.-rotate-315 {
  @apply rotate-[-315deg];
}

.-rotate-360 {
  @apply rotate-[-360deg];
}
